*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Whitney,Neue Helvetica,Helvetica,Arial,sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.bloco1{
    width: 70%;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: white;
}

.containerPulsante a{
    color: rgb(35,39,42);
    
}
.pulsante{
    background-color: aliceblue;
    padding: 10px 15px;
    border-radius: 25px;
}

header{
    background-color: rgb(37,94,233);
    padding: 50px;
}
nav li{
    display: inline-block;
    margin-left: 30px;
}
.logo{
    float: left;
    width: calc(100% / 3 - 50px);
}
nav{
    float: left;
    text-align: center;
    line-height: 37px;
}
header .containerPulsante{
    float: left;
    width: calc(100% / 3 - 50px);
    line-height: 37px;
    text-align: right;
}

/* jumbotron section */
.jumbotron{
    position: relative;
}
.jumbotron img{ 
    max-width: 100%;
    height: auto;
}
.blocco2{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    text-align: center;
    font-size: 40px;
    color: white;
}
.blocco2 p{
    font-size: 25px;
    margin: 50px 0; 
}
/* pulsanti jumbotron */
.blocco2 .containerPulsante{
    font-size: 25px;
    display: inline-block;
}


.boxPulsante{
    display: flex;
}


.scarica, .browser{
    padding: 20px 40px;
    display: inline-block;
}
.scarica i{
    padding-right: 10px;
}
.scarica{
    margin-right: 30px;
}
#white{
    background-color: rgb(35,39,42);
    color: white;
}
